NEXT_PUBLIC_SUPABASE_URL=http://localhost:8000
APP_ENV=prod
NEXT_PUBLIC_APP_ENV=prod
NEXT_PUBLIC_SUPABASE_PROXY_PATH=/supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=replace_with_local_anon_key
SUPABASE_SERVICE_ROLE_KEY=replace_with_local_service_role_key
